<launch>
    <group ns="robot2">
        <node pkg="image_processing" type="detect_marker.py" name="detect_marker">
            <remap from="red_image" to="/robot2/red_image"/>
            <remap from="detect_image" to="/robot2/detect_image"/>
            <remap from="red_center" to="/robot2/red_center"/>
            <remap from="/zed_nodelet/left/image_rect_color" to="/robot2/zed_nodelet/left/image_rect_color"/>
        </node>
        <node pkg="image_processing" type="coordinate_marker_camera2" name="coordinate_marker_camera2"/>
    </group>
</launch>